// Footer
footer.page-footer.font-small.blue-grey.lighten-5
  div(style='background-color: #21d192;')
    .container
      // Grid row
      .row.py-4.d-flex.align-items-center
        // Grid column
        .col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0
          h6.mb-0 Get connected with us on social networks!
        // Grid column
        // Grid column
        .col-md-6.col-lg-7.text-center.text-md-right
          // Facebook
          a.fb-ic
            i.fab.fa-facebook-f.white-text.mr-4  
          // Twitter
          a.tw-ic
            i.fab.fa-twitter.white-text.mr-4  
          // Google +
          a.gplus-ic
            i.fab.fa-google-plus-g.white-text.mr-4  
          // Linkedin
          a.li-ic
            i.fab.fa-linkedin-in.white-text.mr-4  
          // Instagram
          a.ins-ic
            i.fab.fa-instagram.white-text  
        // Grid column
        // Grid row
        // Footer Links
        .container.text-center.text-md-left.mt-5
          // Grid row
          .row.mt-3.dark-grey-text
            // Grid column
            .col-md-3.col-lg-4.col-xl-3.mb-4
              // Content
              h6.text-uppercase.font-weight-bold CDK Global
              hr.teal.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque maiores officia repellendus perferendis modi error. Laboriosam hic praesentium suscipit .
            // Grid column
            // Grid column
            .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
              // Links
              h6.text-uppercase.font-weight-bold Users
              hr.teal.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                a.dark-grey-text(href='#!') Farmer
              p
                a.dark-grey-text(href='#!') Buyer
              p
                a.dark-grey-text(href='#!') Farmer
              p
                a.dark-grey-text(href='#!') Buyer
            // Grid column
            // Grid column
            .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
              // Links
              h6.text-uppercase.font-weight-bold Useful links
              hr.teal.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                a.dark-grey-text(href='#!') Your Account
              p
                a.dark-grey-text(href='#!') Become an Affiliate
              p
                a.dark-grey-text(href='#!') Shipping Rates
              p
                a.dark-grey-text(href='#!') Help
            // Grid column
            // Grid column
            .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
              // Links
              h6.text-uppercase.font-weight-bold Contact
              hr.teal.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                i.fas.fa-home.mr-3
                |  Navi Mumbai, M 10012, India
              p
                i.fas.fa-envelope.mr-3
                |  enquiries@cdkglobal.com
              p
                i.fas.fa-print.mr-3
                |  9876543219
            // Grid column
            // Grid row
            // Footer Links
            // Copyright
            .footer-copyright.text-center.text-black-50.py-3
              | © 2020 Copyright:
              a.dark-grey-text(href='https://www.cdkglobal.com/us')
              | CDK Global
            // Copyright
// Footer
