body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: rgb(26, 24, 24);
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgb(181, 255, 193);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
